<%= simple_form_for(@house) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :house_name %>
  </div>

  <div class="form-inputs">
    <%= f.input :num_housemates %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
