<h2>Sign in</h2>

<div>
	<p>Chores at 4030 is here to help you and your housemates manage your chores! It uses email reminders to keep you on top of your mess.</p>
	<p>Written in Rails for CIS 196 at UPenn.</p>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
