<br></br>
<%= form_for(@chore) do |f| %>
  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul>
      <% @chore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chore %><br />
    <%= f.text_field :chore %>
  </div>
  <div class="field input-prepend">
    <label>House</label>
    <span class="add-on"><i class="icon-home"></i></span>
    <%= collection_select(:house, :house_id, House.all, :id, :house_name) %>
  </div>
  <div class="field input-prepend">
    <label>Assigned To</label>
    <span class="add-on"><i class="icon-user"></i></span>
    <%= f.text_field :assignedto %>
  </div>
  <% if current_page?(edit_chore_path(@chore)) %>
    <div class="field input-prepend">
      <label>Chore Finished?</label>
      <span class="add-on"><i class="icon-ok"></i></span>
      <%= f.check_box :chorefinished %>
    </div>
  <% end %>
  <div class="field input-prepend">
    <label>Date Added</label>
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%= f.date_select :dateadded %>
  </div>
  <div class="field input-prepend">
    <label>Date Due</label>
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%= f.date_select :datefinished %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary'%>
  </div>
<% end %>
