<h1>Chore Listing</h1>

<div></div>

<button id="toggle_button">Show/Hide Finished Chores</button>

<table>
  <tr>
    <th>Chore</th>
    <th>Assigned To</th>
    <th>Chore Finished</th>
    <th>Date Added</th>
    <th>Date Finished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


    <% @chores.each do |chore| %>
        <% if chore.chorefinished? %>
            <tr class="finished_chore_tr">
        <% else %>
            <tr>
        <% end %>
                <td><%= chore.chore %></td>
                <td><%= chore.assignedto %></td>
                <td><%= chore.chorefinished %></td>
                <td><%= chore.dateadded %></td>
                <td><%= chore.datefinished %></td>
                <td><%= link_to 'Show', chore %></td>
                <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
                <td><%= link_to 'Destroy', chore, confirm: 'Are you sure?', method: :delete %></td>
            </tr>
    <% end %>  
</table>

<br />

<%= link_to 'New Chore', new_chore_path %>

<script type="text/javascript">
    $(function () {
        $("#toggle_button").click(function () {
            $(".finished_chore_tr").toggle();
        });
    });
</script>
