<h1>Chore Listing</h1>

<div></div>

<form class="form-horizontal" data-remote="true">
    <%= check_box_tag(:show_finished) %>
    <%= label_tag :show_finished, "Show Finished Chores", class: "checkbox inline" %>
</form>

<table>
  <tr>
    <th>Chore</th>
    <th>Assigned To</th>
    <th>Chore Finished</th>
    <th>Date Added</th>
    <th>Date Finished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


    <% @chores.each do |chore| %>
      <tr>
        <td><%= chore.chore %></td>
        <td><%= chore.assignedto %></td>
        <td><%= chore.chorefinished %></td>
        <td><%= chore.dateadded %></td>
        <td><%= chore.datefinished %></td>
        <td><%= link_to 'Show', chore %></td>
        <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
        <td><%= link_to 'Destroy', chore, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>  
</table>

<br />

<%= link_to 'New Chore', new_chore_path %>
